//- views/includes/shared-mixins.pug

mixin themeCss
    
    //- Font loading for Bootstrap Icons
    style.
        @font-face {
            font-family: "bootstrap-icons";
            src: url("!{assetUrl("./font/bootstrap-icons.woff2")}") format("woff2"),
                 url("!{assetUrl("./font/bootstrap-icons.woff")}") format("woff");
        }

    //- Bootstrap Icons stylesheet
    link(rel="stylesheet", href=assetUrl(`./style/bootstrap-icons.css`), integrity=assetIntegrity("bootstrap-icons.css"), crossorigin="anonymous")


//- Dismissable Info Alert Mixin
//- This mixin creates a Bootstrap alert that users can dismiss
mixin infoAlert(title)
    .alert.alert-primary.alert-dismissible.fade.show.shadow-sm.mb-4(role="alert")
        i.bi.bi-info-circle.me-2
        strong= title
        block
        button.btn-close(
            type="button"
            data-bs-dismiss="alert"
            aria-label="Close"
        )